// @font-face {
//   font-family: "montserrat";
//   src: url(../assets/Montserrat-Medium.ttf);
// }

.acceuil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "montserrat";
}
.espaceCartes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 20px;
  margin-top: 20px;

  @media screen and (min-width: 767px) {
    width: 86%;
    column-gap: 60px;
    row-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: #f6f6f6;
    // background-color: $gris;

    padding-top: 56px;
    padding-bottom: 56px;
  }
}
