.aPropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "montserrat";
  color: #ff6060;
}
.imageApropos {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 97%;
  height: 223px;
  justify-content: center;
  align-items: center;
  &_imgMobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
  &_imgDesktop {
    display: none;
    @media screen and (min-width: 767px) {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.ContainerDivApropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: 16px;
  row-gap: 20px;
  width: 97%;
  @media screen and (min-width: 767px) {
    width: 82%;
    margin-top: 24px;
  }
}
