.carteLogement {
  width: 100%;
  max-width: 340px;
  height: 255px;
  border-radius: 10px;
  //   position: absolute;
  //   left: 0%;
  //   right: 0%;
  //   top: 0%;
  //   bottom: 0%;
  background: linear-gradient(#ff6060, #823131);

  margin: 5px 0px 5px 0px;
  @media screen and (min-width: 767px) {
    width: 340px;
    height: 340px;
    margin: 5px 2px 5px 2px;
  }
}
