.divDeroulante {
  display: flex;
  flex-direction: column;
  width: 100%;
  // margin: 0px 5px 5px 5px;
  @media screen and (min-width: 767px) {
    // width: 47%;
  }
  &_bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    height: 30px;

    & p {
      font-size: 13px;
      color: white;
      margin-left: 10px;
      @media screen and (min-width: 767px) {
        font-size: 18px;
      }
    }
    & i {
      color: white;
      margin-right: 10px;
    }
    &_up {
      display: none;
    }
  }
  &_masquable {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 5px;
    margin-top: -10px;
    z-index: -1;
    margin-bottom: 20px;
    @media screen and (min-width: 767px) {
      margin-bottom: 31px;
      border-radius: 10px;
    }
  }
}

.pLogement {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 33px 7px 2px 12px;
  font-size: 12px;
  & p {
    font-size: 12px;
    @media screen and (min-width: 767px) {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 767px) {
    height: 156px;
    // width: 100%;
    font-size: 18px;
    padding: 40px 12px 27px 20px;
  }
}
