.erreur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // justify-content: space-between;
  // height: 600px;
  height: 100%;
  width: 100%;
  font-family: "montserrat";
}
h1 {
  @media screen and (min-width: 860px) {
    font-size: 150px;
    margin-bottom: 66px;
    margin-top: 169px;
  }
  font-size: 98px;

  font-weight: bold;
  width: 48%;
  text-align: center;
  margin-bottom: 9px;
  margin-top: 195px;
  padding: 0;
  //   font-family: "Montserrat Bold 700";
}
.lien {
  color: #ff6060;
  // margin: 50px;
  font-size: 14px;
  margin-bottom: 235px;
  margin-top: 135px;

  @media screen and (min-width: 860px) {
    font-size: 18px;
    margin-bottom: 159px;
  }
}
p {
  font-size: 18px;
  margin: 0px;
  @media screen and (min-width: 860px) {
    font-size: 36px;
    margin-bottom: 182px;
  }

  text-align: center;
}
.texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &_p {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 860px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 100%;
    }
  }
}
