.footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 209px;
  &_logo {
    width: 122px;

    margin-top: 10px;
  }
  &_p {
    display: flex;
    align-items: flex-end;
    color: white;
    font-size: 12px;
    height: 46px;
    margin: 0;
    @media screen and (min-width: 767px) {
      font-size: 24px;
      margin: 29px 0 0 0;
    }
  }
}
