.gallery {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 250px;
  @media screen and (min-width: 767px) {
    height: 415px;
    width: 97%;
  }
  justify-content: center;
  align-items: center;
  font-family: "montserrat";

  //   @media screen and (min-width: 767px) {
  //     height: 223px;
  //   }
  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    // @media screen and (min-width: 767px) {
    //   z-index: -1;
    // }
  }
}
.affichIndex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  //   position: absolute;
  width: 95%;
  padding-bottom: 15px;
  color: white;
  font-size: 18px;
  margin-top: -30px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  position: absolute;
  width: 95%;
  height: 250px;
  @media screen and (min-width: 767px) {
    height: 415px;
    width: 97%;
  }

  justify-content: space-between;
  &_btnPrev {
    padding-left: 25px;
  }
  &_btnNext {
    padding-right: 25px;
  }
  & i {
    color: white;
    font-size: 20px;
    @media screen and (min-width: 767px) {
      font-size: 50px;
    }
  }
}
