body {
  color: #ff6060;
  min-width: 375px;
  margin: auto;
  font-family: "montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-bottom: 250px;
  min-height: 100vh;
  * {
    box-sizing: border-box;
  }
}
