.ligneDuHaut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
  &_logo {
    width: 70px;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation a {
  // text-decoration: none;
  margin: 10px;
  color: #ff6060;
}
