.ligneDuHaut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
  // height:
  &_logo {
    height: 47px;
    @media screen and (min-width: 767px) {
      height: 68px;
    }
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation a {
  // text-decoration: none;
  margin: 5px;
  color: #ff6060;
  font-size: 12px;
  @media screen and (min-width: 767px) {
    font-size: 24px;
    margin: 26px;
  }
}
