@use "./_variables.scss";

.logement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "montserrat";
  color: #ff6060;
}
.boutons {
  position: absolute;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.boutons i {
  color: white;
  //   text-shadow: 0.1em 0.1em 0.2em black;
}
.titres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  @media screen and (min-width: 767px) {
    margin-bottom: 21px;
    margin-top: 30px;
  }

  &_grosTitre {
    font-size: 18px;
    margin: 0;
    text-align: left;
    @media screen and (min-width: 767px) {
      font-size: 36px;
    }
  }
  &_petitTitre {
    font-size: 14px;
    margin: 0;
    @media screen and (min-width: 767px) {
      font-size: 18px;
    }
  }
}
.DeroulanteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin-top: 16px;
  // height: auto;
  row-gap: 20px;
  @media screen and (min-width: 767px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 97%;
    margin-top: 24px;
    column-gap: 6%;

    // height: 200px;
  }
}
