.tagsContainer {
  display: flex;
  align-items: center;
  width: 95%;
  flex-wrap: wrap;
  &_tag {
    &_p {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 84px;
      //   height: 18px;
      border-radius: 10px;
      background-color: #ff6060;
      margin: 5px;
      padding: 5px;
      color: white;
      font-size: 10px;
    }
  }
}
